<div class="login-container">
    <h2>Belépés</h2>
    <form action="login.php" method="post">
        <input type="text" name="username" placeholder="Felhasználónév" required>
        <input type="password" name="password" placeholder="Jelszó" required>
        <input type="submit" value="Belépés">
    </form>
    <div class="register">
    <br>
    <br>
    <br>
    <p>Még nem regisztráltál?</p>
    <a class="nav-link" routerLink="/register">
        <button class="btn btn-light">Regisztráció</button>
    </a>
    </div>
</div>
