<div class="login-container">
    <h2>Belépés</h2>
    <form action="login.php" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
    </form>
    <div class="register">
    <br>
    <br>
    <br>
    <p>Még nem regisztráltál?</p>
    <a class="nav-link" routerLink="/register">
        <button class="btn" [ngClass]="{ 'btn-light': !themeService.darkMode, 'btn-dark': themeService.darkMode }">Regisztráció</button>
    </a>
    </div>
</div>
