.container-fluid.px-0 {
    max-width: 100%;
    overflow-x: hidden;
  }

  .search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-container input[type="text"] {
    width: 60%;
    margin-right: 10px;
}

.search-container button {
    width: 25%;
}

.card {
    width: 100%;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
button:hover {
    background-color: #0056b3;
  }

.pagination{
  margin: 5px;
}
.page-number{
  font-size: 25px;
  padding: 10px;
}