<!-- {{movies|json}} -->
<div class="container">
  <div class="search-container">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Keresés..." (keyup.enter)="searchButton()">
    <button (click)="searchButton()">Keresés</button>
  </div>
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let movie of movies">
        <div class="card h-100">
          <ng-container *ngIf="movie.poster_path !== null; else emptyDiv">
            <ng-container *ngIf="movie.poster_path !== undefined && movie.poster_path !== null; else tryProfilePath">
              <img [src]="'https://media.themoviedb.org/t/p/w300_and_h450_bestv2' + movie.poster_path" class="card-img-top" alt="Movie Poster">
            </ng-container>
            <ng-template #tryProfilePath>
              <ng-container *ngIf="movie.profile_path !== undefined && movie.profile_path !== null">
                <img [src]="'https://media.themoviedb.org/t/p/w300_and_h450_bestv2' + movie.profile_path" class="card-img-top" alt="Movie Poster">
              </ng-container>
              <div *ngIf="!movie.profile_path" class="empty-poster-placeholder"></div>
            </ng-template>
            </ng-container>
          <ng-template #emptyDiv>
            <div class="empty-poster-placeholder card-img-top"></div>
          </ng-template>
                    <div class="card-body">
            <h2 class="card-title">{{ movie.name ? movie.name : movie.title }}</h2>
            <div *ngIf="movie.known_for && movie.known_for.length > 0">
              <p><i>Színész</i></p>
              <p>Szerepel itt:</p>
              <ul>
                <li *ngFor="let item of movie.known_for">
                  {{ item.title ? item.title : item.name }}
                </li>
              </ul>
            </div>
            
            <ng-container *ngIf="movie.media_type !== 'person'">
              <p class="card-text">{{ movie.overview }}</p>
              <p class="card-text"><strong>Műfaj:</strong>
                <span *ngIf="movie.genre_ids && movie.genre_ids.length > 0">
                  <ng-container *ngFor="let genreId of movie.genre_ids; let i = index">
                    {{ getGenreName(genreId) }}
                    <span *ngIf="i !== movie.genre_ids.length - 1">,</span>
                  </ng-container>
                </span>
              </p>
              <p class="card-text"><strong>Eredeti cím:</strong> {{ movie.original_title ? movie.original_title : movie.original_name }}</p>
              <p class="card-text"><strong>Eredeti nyelv:</strong> {{ getLanguageName(movie.original_language) }}</p>
              <p class="card-text"><strong>Megjelenés:</strong> {{ movie.release_date ? movie.release_date : movie.first_air_date }}</p>
            </ng-container>

            <ng-container *ngIf="movie.media_type == 'tv'">
              <p class="card-text"><strong>Típus:</strong> sorozat</p>
            </ng-container>
            
            <ng-container *ngIf="movie.media_type == 'movie'">
              <p class="card-text"><strong>Típus:</strong> film</p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination" *ngIf="searchQuery !== ''">
    <button (click)="previousPage()">Előző</button>
    <span class="page-number">{{currentPage}}. oldal</span>
    <button (click)="nextPage()">Következő</button>
  </div>  
</div>
