<div class="registration-container">
    <h2>Regisztráció</h2>
    <form action="register.php" method="post">
        <input type="text" name="username" placeholder="Felhasználónév" required>
        <input type="password" name="password" placeholder="Jelszó" required>
        <input type="password" name="confirm_password" placeholder="Jelszó ismételve" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="submit" value="Regisztrálok">
    </form>
</div>